
<h1>Lost Treasure</h1>
<button class="btn btn-danger" type="submit" ng-click="lost_treasure.methods.honk()" ng-disabled="lost_treasure.running"><span class="glyphicon glyphicon-exclamation-sign"></span> Honk</button>
<button class="btn btn-success" type="submit" ng-click="lost_treasure.methods.add_entry()" ng-disabled="lost_treasure.running"><span class="glyphicon glyphicon-plus"></span> Add</button>
<button class="btn btn-success" type="submit" ng-click="lost_treasure.methods.run()" ng-disabled="lost_treasure.running"><span class="glyphicon glyphicon-play"></span> Run </button> <img src="http://cdn.galoretv.com/images/loading.gif" ng-show="lost_treasure.running" />
<div class="form-group">
    <label>Service</label><input class="form-control" type="text" ng-model="lost_treasure.service"/>
    <label>Tester / Department</label><input class="form-control" type="text" ng-model="lost_treasure.tester"/> 
</div>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th class="ref_no">Ref #</th>
            <th>Test Date</th>
            <th class="scenario">Scenario</th>
            <th style="width:10%;">Keyword</th>
            <th style="width:7%;">A Number</th>
            <th>B Number</th>
            <th>USSD number</th>
            <th>USSD command</th>
            <th style="width:10%;">Time Sent</th>
            <th style="width:10%;">Time Rcvd</th>
            <th style="width:5%;" title="Beginning Balance">Beg Bal</th>
            <th style="width:5%;" title="Ending Balance">End Bal</th>
            <th style="width:5%;">Amt Chrgd</th>
            <th class="expected_charge" title="Expected Charge">Expctd Chrge</th>
            <th style="width:23%;">Expected Result</th>
            <th style="width:17%;">Actual Result</th>
            <th>Pass or Fail</th>
            <th>Remarks</th>        
            <th class="treasure-column-action">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="entry in lost_treasure.entries">
            <td class="ref_no"><input type="text" class="form-control" ng-model="entry.ref_no" style="width:20px"/></td>
            <td>{{entry.test_date}}</td>
            <td><textarea class="form-control" ng-model="entry.scenario"></textarea></td>
            <td><textarea class="form-control" ng-model="entry.keyword"></textarea></td>
            <td><input type="text" class="form-control" ng-model="entry.a_number" style="width:80px"/></td>
            <td><input type="text" class="form-control" ng-model="entry.b_number" style="width:80px"/></td>
            <td><input type="text" class="form-control" ng-model="entry.ussd_number" style="width:80px"/></td>
            <td><input type="text" class="form-control" ng-model="entry.ussd_command" style="width:80px"/></td>
            <td><span ng-show="!entry.meta.loading">{{entry.time_sent}}</span> <img src="http://cdn.galoretv.com/images/loading.gif" ng-show="entry.meta.loading"/></td>
            <td><span ng-show="!entry.meta.loading">{{entry.time_received}}</span> <img src="http://cdn.galoretv.com/images/loading.gif" ng-show="entry.meta.loading"/></td>
            <td><span ng-show="!entry.meta.loading">{{entry.beginning_balance}}</span> <img src="http://cdn.galoretv.com/images/loading.gif" ng-show="entry.meta.loading"/></td>
            <td><span ng-show="!entry.meta.loading">{{entry.ending_balance}}</span> <img src="http://cdn.galoretv.com/images/loading.gif" ng-show="entry.meta.loading"/></td>
            <td><span ng-show="!entry.meta.loading">{{entry.amount_charged}}</span> <img src="http://cdn.galoretv.com/images/loading.gif" ng-show="entry.meta.loading"/></td>
            <td><input class="form-control expected_charge" ng-model="entry.expected_charge"></input></td>
            <td><textarea class="form-control" ng-model="entry.expected_result"></textarea></td>
            <td><span ng-show="!entry.meta.loading">{{entry.actual_result}}</span> <img src="http://cdn.galoretv.com/images/loading.gif" ng-show="entry.meta.loading"/></td>
            <td>
              <span ng-if="entry.pass_or_fail" ng-show="!entry.meta.loading && entry.pass_or_fail" class="glyphicon glyphicon-ok-circle" style="color:green; font-size: 25px;"></span><img src="http://cdn.galoretv.com/images/loading.gif" ng-show="entry.meta.loading"/>
              <span ng-if="!entry.pass_or_fail" ng-show="!entry.meta.loading && entry.pass_or_fail==false" class="glyphicon glyphicon-remove-circle" style="color:red; font-size: 25px;"></span><img src="http://cdn.galoretv.com/images/loading.gif" ng-show="entry.meta.loading"/>
            </td>
            <td><span ng-show="!entry.meta.loading">{{entry.remarks}}</span><img src="http://cdn.galoretv.com/images/loading.gif" ng-show="entry.meta.loading"/></td>
            <td>
                <button class="btn btn-xs btn-success lt-add-entry" ng-click="lost_treasure.methods.add_entry()" ng-disabled="entry.meta.loading"><span class="glyphicon glyphicon-plus"></button>
                <button class="btn btn-xs btn-danger lt-remove-entry" ng-click="lost_treasure.methods.remove_entry($index)" ng-disabled="entry.meta.loading"><span class="glyphicon glyphicon-minus"></button>
                {{entry.status}}
            </td>
        </tr>
    </tbody>
</table>
