html, body {
  height: 100%;
}

body {
  background: url(../images/splash-footer.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: bottom; 
}

.main-container {
  height: inherit;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 7px;
  padding-right: 7px;
}

/* Custom page header */
/*.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}*/
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Lost Treasure Specific styles*/

.table {
     font-size: 11px !important;
}

/*
.table tbody tr {
    cursor: pointer;
}*/

.table .form-control {
    font-size: 11px;
}

.table th.scenario {
    width:10%;
}

.table th.expected_charge {
    min-width:7px;
    width: 7px;
}

.table textarea {
    min-height: 120px;
    max-height: 120px;
    font-size: 11px;
    min-width: 100px;
}

.table input.expected_charge {
    width: 45px;
}

.table td.ref_no input {
    width: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
}




/** Refactor hard-coded CSS here **/



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.navbar {
  border: none;
  /*background: #303030;*/
  background: url(../images/pattern3.png);
  background-size: 100%;
  height: 75px;
  border-radius: 0;
  padding-top: 10px;
}

.navbar .navbar-header .navbar-brand {
  color: #ffffff;
  text-transform: uppercase;
}

.custom-button {
  border-radius: 0;
  margin-right: 10px;
}

.custom-thead {
  /*background: rgb(48, 48, 48);*/
  background: url(../images/pattern3-black.png);
  color: #ffffff;
}

.custom-bg {
  background: url(../images/splash-footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom; 
}

tr.ng-scope {
  background: rgb(205, 216, 236);
}

tr.ng-scope:hover {
  background: rgb(205, 216, 236);
}

.main-buttons {
  margin-bottom: 50px;
}